# Operation on list

#### Create a List

In [3]:
cities = ["Delhi", "Mumbai", "Chennai"]
print("List:", cities)

Original List: ['Delhi', 'Mumbai', 'Chennai']

#### Append an Element

In [5]:
numbers = [2, 4, 6]
numbers.append(8)
print("After Append:", numbers)

After Append: [2, 4, 6, 8]

#### Insert an Element

In [7]:
languages = ["Python", "C", "Java"]
languages.insert(1, "C++")
print("After Insert:", languages)

After Insert: ['Python', 'C++', 'C', 'Java']

#### Remove an Element

In [9]:
sports = ["cricket", "football", "hockey", "tennis"]
sports.remove("hockey")
print("After Remove:", sports)

After Remove: ['cricket', 'football', 'tennis']

#### Reverse the List

In [11]:
letters = ["x", "y", "z"]
letters.reverse()
print("After Reverse:", letters)

After Reverse: ['z', 'y', 'x']

# Operation on tuple

#### Create a Tuple

In [14]:
vehicles = ("car", "bike", "bus")
print("Original Tuple:", vehicles)

Original Tuple: ('car', 'bike', 'bus')

#### Access an Element

In [16]:
numbers = (100, 200, 300)
print("First Element:", numbers[0])

First Element: 100

####  Slicing

In [18]:
days = ("Mon", "Tue", "Wed", "Thu", "Fri")
print("Slice (1:4):", days[1:4])

Slice (1:4): ('Tue', 'Wed', 'Thu')

#### Count an Element

In [20]:
animals = ("cow", "goat", "cow", "sheep")
print("Count of 'cow':", animals.count("cow"))

Count of 'cow': 2

#### Find Index

In [22]:
letters = ("p", "q", "r", "s")
print("Index of 'r':", letters.index("r"))

Index of 'r': 2

# Operation on set

#### Create a Set

In [25]:
colors = {"pink", "orange", "purple"}
print("Original Set:", colors)

Original Set: {'pink', 'purple', 'orange'}

#### Add an Element

In [27]:
numbers = {1, 3, 5}
numbers.add(7)
print("After Add:", numbers)

After Add: {1, 3, 5, 7}

####  Remove an Element

In [29]:
birds = {"parrot", "crow", "eagle"}
birds.remove("crow")
print("After Remove:", birds)

After Remove: {'eagle', 'parrot'}

#### Union

In [31]:
set1 = {10, 20}
set2 = {20, 30, 40}
print("Union:", set1.union(set2))

Union: {20, 40, 10, 30}

#### Intersection

In [33]:
a = {"apple", "banana"}
b = {"banana", "mango"}
print("Intersection:", a.intersection(b))

Intersection: {'banana'}

# Operation on dictionary

#### Create a Dictionary

In [40]:
student = {"roll": 1, "name": "Supriya", "dept": "CSE"}
print("Original Dictionary:", student)

Original Dictionary: {'roll': 1, 'name': 'Supriya', 'dept': 'CSE'}

#### Add a Key-Value Pair

In [38]:
marks = {"math": 70, "science": 80}
marks["history"] = 65
print("After Add:", marks)

After Add: {'math': 70, 'science': 80, 'history': 65}

#### Update a Value

In [41]:
phone = {"brand": "Samsung", "model": "M14", "price": 12000}
phone["price"] = 15000
print("After Update:", phone)

After Update: {'brand': 'Samsung', 'model': 'M14', 'price': 15000}

#### Remove a Key-Value Pair

In [43]:
laptop = {"brand": "HP", "ram": "8GB", "storage": "512GB"}
laptop.pop("ram")
print("After Remove:", laptop)

After Remove: {'brand': 'HP', 'storage': '512GB'}

#### Get Keys and Values

In [46]:
movie = {"title": "Leo", "year": 2024, "rating": 9}
print("Keys:", movie.keys())
print("Values:", movie.values())

Keys: dict_keys(['title', 'year', 'rating'])
Values: dict_values(['Leo', 2024, 9])